.card-style {
    height: 500px;	
    border-radius: 10px;	
    background-color: #FFFFFF;	
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin-top: 20px;
}
.left-side-card {
    border-radius: 10px;	
    background: url('../../../assets/img/Rectangle@3x.png') no-repeat center;
    background-size: cover;
    max-height: 500px;
}
.right-side-card {
    padding-top: 20%;
    padding-bottom: 20%;
}
.welcome-back {
    height: 37px;	
    width: 172px;	
    color: #34495E;	
    font-size: 25px;	
    line-height: 29px;
    white-space: nowrap;
}
.please-login {
    height: 22px;	
    width: 315px;	
    color: #7F8C8D;	
    font-size: 15px;	
    line-height: 18px;
}
.spaces {
    color: #8E44AD;
}
.input-style {
    height: 36px;	
    width: 374px;	
    border: 1px solid #D6DBE4;	
    border-radius: 3px;	
    background-color: #FFFFFF;
    margin-bottom: 10px;
}
.username-password-text {
    height: 21px;	
    width: 64px;	
    color: #7F8C8D;	
    font-size: 14px;	
    line-height: 17px;
}
::placeholder {
        height: 22px;	
        width: 79px;	
        color: #7F8C8D;	
        font-size: 15px;	
        line-height: 18px;
  }
  .forgot-password {	
    height: 21px;	
    width: 112px;	
    color: #8E44AD;	
    font-size: 14px;	
    line-height: 17px;
}
.login-button {
        height: 40px;	
        width: 94px;	
        border-radius: 20px;	
        background-color: #8E44AD;	
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.login {	
    height: 22px;	
    width: 44px;	
    color: #FFFFFF;	
    font-size: 15px;	
    line-height: 18px;
}
.alert-danger {
    width: 375px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}